nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-left: 10%;
    padding: 1.5rem 0;
    border-bottom: 2px solid black;
    z-index: 100;
}

h3{
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 500;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: rgb(88, 88, 88);
    text-decoration: underline;
}

.resinLogo a{
    font-family: 'Herr Von Muellerhoff', cursive;
    font-weight: 300;
    font-size: 5rem;
    text-decoration: none;
}

/* responsiveness */

@media screen and (max-width: 1024px) {
    .resinLogo{
        display: inline-block;
    }

    .hideResin{
        display: none;
    }
}

@media screen and (max-width: 768px){
    nav{
        flex-direction: column;
        justify-content: flex-start;
        padding: 1rem;
        margin: 0;
    }

    nav h3{
        padding: 0.5rem;
    }

    body{
        width: 100%;
       
    }
    .hero{
        width: 100%;
        margin: 0;
    }

}


